
.about-container{
    font-family: Gothic;
}

.colour-block {
    
    background: #e4f1ff;
    width:60%;
    padding:7% 20% 10% 20%;
    color:black;
    height: 200px;
  }
  .white-block {
    background:#fff;
    width:60%;
    padding:7% 20% 10% 20%;
    color:#369A7E;
    height: 250px;
    margin-bottom: -60px;
  }

  .path-header {
    text-align:center;
    font-size:30px;
    margin-top: 50px;
    color: #369A7E;
    
  }
 

  .para1{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    height: 40px;
    color: #27005d;
    text-align: center;
    
  }

  .find{
    color:#369A7E;
    margin-right: 30px;
    font-size: 40px;
    margin-top: -20px;
    
  }


  .para2{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: 18px;
    text-align: center;
    color: #27005d;
    
  }

  .works{
    color: #369A7E;
  }

  .para3{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    height: 20px;
    text-align: center;
    color: #27005d;
    
  }
  
  .quality{
    color: #369A7E;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;

  }
  
  .scallop {
    height: 50px;
    width: 100%; 
    background: radial-gradient(circle farthest-side at 50% 100%, #e4f1ff 0%, #e4f1ff 49%, #fff 51%, white 100%); 
    background-size: 25px 50px; 
    background-repeat: repeat-x;
  }
  
  .scallop-top {
    transform: rotate(180deg);
  }





  @media screen and (max-width: 740px)  {
    .white-block {
      background:#fff;
      width:60%;
      padding:7% 20% 10% 20%;
      color:#369A7E;
      height: 390px;
      margin-bottom: -60px;
    }


  .para3{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    height: 50px;
    text-align: center;
    color: #27005d;
    }
  }