@font-face {
    font-family: Gothic;
    src: url(/Users/suue/Desktop/web-design2/src/Fonts/DidactGothic-Regular.ttf);
}

.form-items{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #27005d;
    box-sizing: border-box;
    margin-bottom: 30px;
    height: 500px;
    padding: 3%;
    width: 350px;
    margin-top: 50px;
    margin-left: 40px;
    min-height: 80vh;
    border-radius: 20px;
    box-shadow:  
        8px 8px 16px #c1c9d1,   /* Slightly darker 'outset' shadow */
        -8px -8px 16px #fff;
  }
  
  .title {
    color: #eee;
    font-size: 42px;
    margin-top: 10px;
    
  }
  
  .subtitle {
    color: #eee;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .input-field  {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .if1 {
    margin-top: 40px;
  }
  
  .if2 {
    margin-top: 20px;
  }
  .if3 {
    margin-top: 20px;
  }
  .if4 {
    margin-top: 20px;
  }
  
  .if5 {
    margin-top: 20px;
  }
  
  .input {
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: black;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 15px;
    width: 100%;
    background-color: #e0e5ec;  /* Match the background of the form container  */
    border: none;          
    color: #444;
  }
  
  .cut {
    background-color: #27005d;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 78px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: 'Franklin Gothic Medium',;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: black;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: rgba(145, 175, 212, 1);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: black; 
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 20px;
    outline: 0;
    text-align: center;
    width: 100%;
    background: linear-gradient(to right, #4886ff, #00c2ff)
  }
  
  .submit:active {
    background-color: #06b;
  }
  