@font-face {
    font-family: Gothic;
    src: url(/Users/suue/Desktop/web-design2/src/Fonts/DidactGothic-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Gothic;
}




@media screen and (max-width: 768px) { /* Adjust breakpoint as needed */
    .navbar ul { /* Target your navbar's list */
      flex-direction: column; /* Change to vertical layout */
      align-items: center;
    }
  
    .navbar ul li { /* Optional: May need to adjust item width */
      width: 100%; 
   
    }

  }
  