@font-face {
    font-family: Gothic;
    src: url(/Users/suue/Desktop/web-design2/src/Fonts/DidactGothic-Regular.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Gothic;
    
}

.navbar{
    font-family: Gothic;
    background-color: rgba(214, 232, 255, 1); 
    align-items: center;  
    justify-content: flex-end;
    width: 100%; 
    padding: 15px 20px;
    
}

.navbar ul{
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 10px;
   
}

.navbar ul li a {
    color: #27005d;                
    text-decoration: none;      
    display: block;              /* Make links occupy full width of list item */
    padding: 8px 12px;           /* Padding within the link area */
    transition: background-color 0.3s ease; }


  
.navbar ul li a:hover {
    background-color: #dbaaff;

}


.logo {

   height: 40px;
   max-width: 30%;
   margin-left: -10px;
} 

/*.toppage-container{
    background-image: url('/Users/suue/Desktop/web-design2/src/images/bgd-image.png'); 
    background-size: cover; Makes image cover the entire area 
    background-repeat: no-repeat;  Prevents image repetition
}*/
.main-heading{
    font-size: 60px;
    font-family: Gothic;
}

.home-subtitle{
    font-family: Gothic;
    font-size: 30px;
}

.search-container { 
    text-align: center; 
   
}

.search-input {
    margin-top: 120px;
    width: 600px; 
    padding: 10px; 
    border: 2px solid #ccc; 
    border-radius: 10px;  
}

.search-container button {
    padding: 10px;
    background-color: #27005d;;
    color: white;
    border: none;
    cursor: pointer;
    border: 2px solid; 
    width: 100px;
    border-radius: 10px;  
  }









@media screen and (max-width: 768px) { /* Adjust breakpoint as needed */
    .navbar ul { /* Target your navbar's list */
      flex-direction: column; /* Change to vertical layout */
      align-items: center;
    }
  
    .navbar ul li { /* Optional: May need to adjust item width */
      width: 100%; 
   
    }
  }
  